<!DOCTYPE html>
<meta charset="utf-8">
<title>chatling</title>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script src="vue.js"></script>
<script>
"use strict";

const TYPE_SYSTEM  = 0;
const TYPE_MESSAGE = 1;
const TYPE_SEND    = 2;

document.addEventListener('DOMContentLoaded', function() {
	const vm = new Vue({
		el: '#app',
		data: {
			connected: false,
			name:      'test',
			password:  'test',
			error:     '',
			input:     '',
			url:       'ws://' + window.location.host + '/chat',
			conn:      null
		},
		methods: {
			maybe_connect: function() {
				this.name = this.name.trim();
				this.password = this.password.trim();
				if (this.name === '' || this.password === '') {
					this.error = 'You must specify name and password.';
					return;
				}
				this.connect();
			},
			connect: function() {
				this.connected = true;
				this.conn = new WebSocket(this.url);

				this.conn.onclose = function() {
					vm.add_line(TYPE_SYSTEM, 'Connection closed.');
				};

				this.conn.onerror = function(evt) {
					// https://www.w3.org/TR/2012/CR-websockets-20120920/ says
					// event type is error.
					// https://developer.mozilla.org/en-US/docs/Web/API/ErrorEvent
					vm.add_line(TYPE_SYSTEM, 'Error: ' + evt.message);
				};

				this.conn.onmessage = function(evt) {
					vm.add_line(TYPE_MESSAGE, 'Got message: ' + evt.data);
					//const m = JSON.parse(evt.data)
				};

				this.conn.onopen = function() {
					vm.add_line(TYPE_SYSTEM, 'Connection opened.');
					vm.conn.send(JSON.stringify({
						name:     vm.name,
						password: vm.password
					}));
					vm.$refs.input.focus();
				};
			},
			maybe_send: function() {
				this.add_line(TYPE_SEND, this.input);

				this.conn.send(JSON.stringify({
					message: this.input
				}));

				this.input = '';
			},
			add_line: function(type, message) {
				const line = document.createElement('div');

				switch (type) {
				case TYPE_SYSTEM:
					line.classList.add('type-system');
					line.innerHTML = ' - ' + message;
					break;
				case TYPE_MESSAGE:
					line.classList.add('type-message');
					line.innerHTML = ' < ' + message;
					break;
				case TYPE_SEND:
					line.classList.add('type-send');
					line.innerHTML = ' > ' + message;
					break;
				default:
					window.console.log('unexpected message type');
					line.innerHTML = ' ? ' + message;
					break;
				}

				this.$refs.output.appendChild(line);
			}
		}
	});
});
</script>
<style>
#output {
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 5px;
}
#input {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
</style>
<div id="app">
	<div v-if="connected">
		<div id="output" ref="output"></div>
		<input id="input" v-model="input"
			v-on:keyup.enter="maybe_send"
			ref="input">
	</div>
	<div v-else>
		<input v-model="name"><br>
		<input v-model="password"><br>
		<button v-on:click="maybe_connect"
			v-on:keyup.enter="maybe_connect">Connect</button>
		<div v-if="error">{{ error }}</div>
	</div>
</div>
